*{
  transition: 0.2s;
}

body{
  padding: 25px;
  background-color: #bee9e8;
  font-family: 'Roboto',Sans-Serif;
}
.title {
	color: #1b4965;
	text-align: center;
}

.card-container{
  background-color: #5fa8d3;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  padding: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.card{
  font-size: 1.5rem;
  background-color: #cae9ff;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  border: 2px solid black;
}

.card:hover{
  scale:1.05;
}

.card h3{
  color:#5fa8d3;
  -webkit-text-stroke: 1px #000000;
}

.card button{
  background-color: #5fa8d3;
  font-weight: bold;
  text-align: center;
  width: 150px;
  padding: 10px;
  border: 3px solid rgb(20, 81, 172);
  box-shadow: 4px 4px darkblue;
}

.card button:hover{
  scale:1.1;
  cursor: pointer;
}

.card button a{
  text-decoration: none;
  color: white;
}
